services:
  backend:
    build: ./backend
    ports:
      - "8080:8080"
    networks:
      - labyrinth-net

  frontend:
    build: ./frontend
    ports:
      - "5173:80"
    environment:
      - VITE_BACKEND_URL=http://backend:8080
    depends_on:
      - backend
    networks:
      - labyrinth-net

networks:
  labyrinth-net:
    driver: bridge
